body, ul, li {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: #111;
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
  color: white;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;  
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.row {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.circle-light {
  height: 50px;
  width: 50px;
  background: lightblue;
  border-radius: 50%;
  position: relative;
}

.circle-light::before {
  content: '';
  display: inline-block;
  height: 12px;
  width: 8px;
  background: #333;
  border: 1px solid #333; 
  position: relative;
  top: -14px;
}

.red {
  background: #c0392b;
  transition: .5s;  
}

.red.active {
  box-shadow: 0 0 20px 5px #c0392b;;
}


.yellow {
  background: #f1c40f;
  transition: .5s;
}

.yellow.active {
  box-shadow: 0 0 20px 5px #f1c40f;
}

.blue {
 background: #64fcfe;
 transition: .5s;
}

.blue.active {
  box-shadow: 0 0 20px 5px #64fcfe;
}

.green {
 background: #2ecc71;
 transition: .5s;
}

.green.active {
  box-shadow: 0 0 20px 5px #2ecc71;
}